<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:27:18 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:27:18Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Shoryuken.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:26:34 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:27:47 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:27:47Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Shoryuken.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:26:34 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:28:10 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:28:10Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Shoryuken.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:26:34 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:28:37 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:28:37Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Shoryuken.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:28:24 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:29:15 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:29:15Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Hadouken.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:28:56 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:29:52 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:29:52Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Tatsu.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:29:36 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:30:21 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:30:21Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/Ha!.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:30:09 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 8 May 2025 at 10:30:55 British Summer Time</string>
			<key>fullDate</key>
			<date>2025-05-08T09:30:55Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/jaydavis/SF2 Soundboard/sounds/KO.wav</string>
			</array>
			<key>sourceFP</key>
			<string>9qTuvaCCS+Kd3IxjGoLRaw - 2025-05-08 09:30:41 +0000</string>
		</dict>
	</array>
</dict>
</plist>
